* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Nunito", sans-serif;
  min-height: 100vh;
  font-size: 100%;
}
html {
  scroll-behavior: smooth;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1,
button,
.btn,
a {
  text-transform: capitalize;
}
img {
  object-fit: cover;
}
